extends layout/layout

block mobileTop
  #top-mobile
    ul
      li(data-click='top')
        span Torna in cima

block menu
  #menu.transition.fadeIn
    ul
      li(data-click='programma')
        span Programma
      li(data-click='relatori')
        span Relatori
      li(data-click='letture')
        span Letture
      li(data-click='iscriviti')
        span Iscriviti
      li(data-click='location')
        span Location

  .spacer-50

block main
  .pure-g
    .pure-u-1.pure-u-md-1-2
      .pl.pr
        .spacer-40
        h5#hashtags.transition.fadeIn
          i.fa.fa-twitter.twitter-icon
          span 
            a(href='http://twitter.com/hashtag/SOday14?f=realtime', target='_blank') #SOday14 
          span
            a(href='http://twitter.com/hashtag/SocialOrg?f=realtime', target='_blank') #SocialOrg 
          span
            a(href='http://twitter.com/hashtag/SocialHR?f=realtime', target='_blank') #SocialHR
        .spacer-10



    .pure-u-1.pure-u-md-1-2
      .spacer-10
      .pl.pr
        .partners.transition.fadeIn
          .tl.box
            img.partner.partner-bigger(src='static/img/partners/partner-hitrea.png', alt='Hitrea', style='margin: 0;')
            small.tl.fix
              b Hitrea 
              | è membro di 
              b GSO Company
          .tl.box
            img.partner.no-margin(src='static/img/partners/partner-luoghi.png', alt='Luoghi di Relazione', style='margin-top: 15px;')
      .spacer-50


    .pure-u-1.pure-u-md-1-2
      .pl.pr

        img#logo.transition.fadeIn(src='static/img/logo-white@2x.png')

        h2.transition.fadeIn
          | Dalla comunit&agrave;
          br
          | alle community
        
        p.when.transition.fadeIn
          span.uppercase
            | Milano, 20 novembre 2014
            br
            | 9:15 - 17:00

        p.location.transition.fadeIn
          span.uppercase
            | Spazio Camplus,
            br
          span
            | via Stamira d'Ancona 25
            br
          span
            small.smooth-scroll(data-click='location') Come raggiungerci
        
        p.abstract.transition.fadeIn
          | Cosa accade quando la sfida dei social media si gioca all'interno dell'organizzazione?

        .spacer-60

        .subscribe.transition2.fadeIn
          
          .tc
            p.subscribe-btn-green.smooth-scroll(data-click='iscriviti') Iscriviti all'evento!

          .spacer-10
          p.tc oppure
          .spacer-10

          .subscribe-btn
            p Resta aggiornato!
            form.form.magic.send_email_form(method='post', action='http://hitrea.us8.list-manage1.com/subscribe/post?u=d006ae2613ee762f9e573e14d&id=8999585e26', target='_blank', onSubmit='return confirm("Procedendo la mail inserita verrà utilizzata esclusivamente per comunicazioni riguardanti il meeting e per elaborazioni amministrative interne. Continuare?");')
              .input-elements
                input(type='hidden', name='b_d006ae2613ee762f9e573e14d_8999585e26', tabindex='-1', value='')
                input#mce-EMAIL.email-input.required(type='email', name='EMAIL', placeholder='Il tuo indirizzo e-mail', required='required', data-validation-type='email')
                button.email-btn(name='submit_email') OK

          .clearfix


        .spacer-30

        .share-container.transition2.fadeIn
          p Condividi!
          .addthis_sharing_toolbox
          script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53b56d9d2987a50c')

        .spacer-30
        

    .pure-u-1.pure-u-md-1-2

      //-
        #countdown.fadeIn.tc
          h4 Mancano
          span &nbsp;
      .spacer-10

      .pl.pr
        .partners.f-partners.transition.fadeIn
          .box.tl(style='margin-right:45px;')
            h5
              span Con il patrocinio di
            img.partner(src='static/img/partners/partner-olivetti.png', alt='Fondazione Olivetti')
            .text
              .pl.pr
                :markdown
                  La Fondazione Adriano Olivetti, nata nel 1962 per volere della famiglia e degli amici più stretti dell'imprenditore piemontese, ha avviato, negli ultimi anni, un intenso itinerario divulgativo del pensiero olivettiano attraverso la collaborazione con realtà formative e istituzionali a livello nazionale e internazionale. L'esperienza di Adriano Olivetti è oggi patrimonio del nostro Paese, un modello imprenditoriale, sociale e culturale sempre più spesso al centro del dibattito sull'attualità, da cui attingere per elaborare nuove idee di sviluppo. Sensibilizzare e avvicinare le nuove generazioni ai valori e all'esperienza olivettiana è il fulcro del lavoro di divulgazione che la Fondazione conduce nelle scuole, nelle università, nel mondo del no profit e in collaborazione con enti pubblici o privati.  
                  Negli ultimi anni la Fondazione ha inoltre voluto riportare l'attenzione su Ivrea, citta/laboratorio dell'Innovazione, e sul suo patrimonio tangibile e intangibile, eredità e sintesi di un esemplare modello di impresa, oggi candidato a diventare patrimonio UNESCO. Impresa, Territorio e Comunità sono i paradigmi olivettiani a cui si ispirano tutti i nostri progetti.  


                  Per saperne di più: 
                  * __sito__ [http://www.fondazioneadrianolivetti.it](http://www.fondazioneadrianolivetti.it)  
                  * __Facebook__ [FondazioneAdrianoOlivetti](http://www.facebook.come/FondazioneAdrianoOlivetti)  
                  * __Twitter__ [@Fond_A_Olivetti](http://www.twitter.com/Fond_A_Olivetti)

          .box.tl
            h5
              span Con la partecipazione di
            img.partner(src='static/img/partners/partner-cattolica.png', alt='Università Cattolica del Sacro Cuore - Centro di ricerca sui media e la comunicazione')
            .text
              .pl.pr
                :markdown
                  OssCom, Centro di ricerca sui media e la comunicazione, è stato fondato nel 1994 allo scopo di condurre ricerca teorica e applicata nel campo del sistema dei media e dell'industria culturale italiana.  
                  L'obiettivo primario del Centro è costituire un'interfaccia tra la ricerca accademica e il mondo professionale fornendo un supporto alle imprese e alle istituzioni impegnate nel contesto mutevole del mercato dei media, al fine di accompagnarne le strategie comunicative, la costruzione dell'offerta, l'analisi del consumo e la definizione delle policies in modo consapevole ed efficace.  
                  Le attività di ricerca di OssCom coprono numerose aree e temi, e integrano differenti metodologie, che permettono al cliente di modulare i propri obiettivi secondo diversi livelli di analisi: di prodotto e dell'offerta, delle audience/users e delle pratiche fruitive, di scenario e di contesto.  

                  Per informazioni: [http://centridiricerca.unicatt.it/osscom](centridiricerca.unicatt.it/osscom)

        .spacer-20
        .clicked-text





block programma
  .pure-g
    .pure-u-1.pure-u-md-2-3
      .pl.pr
        h1 
          span Programma provvisorio

        #agenda

          .row.pure-g
            .pure-u-1.pure-u-md-1-3
              .text.tc
                .padding.border
                  .circle.circle-green
                    span
                      | 9:15 - 9:30
                  h2 Accoglienza

          .spacer-70

          .row.pure-g
            .pure-u-1.pure-u-md-1-3
              .text.tc
                .padding.border.border-yellow
                  .spacer-20
                  .circle.circle-yellow
                    span 9:30 - 11:30
                  h2 Tavola rotonda
                  h3 Dalla comunità alle community
                  .spacer-10
            .pure-u-1.pure-u-md-2-3.valign
              .spacer-20
              .text
                .padding
                  h3 Chairman
                  ul
                    li 
                      span Luca Solari  
                      | – Hitrea
                  .spacer-30
                  h3 Relatori
                  ul
                    li 
                      span Marco Vitale 
                      | – Fondazione Adriano Olivetti
                    li 
                      span Elisabetta Caldera 
                      | – Vodafone
                    li
                      span Nicola Palmarini 
                      | – ArepoBp
                    li 
                      span Paolo Zanenga 
                      | – TWG Consulting
                    li 
                      span Piermarco Aroldi 
                      | – Dir. OssCom

          .spacer-70

          .row.pure-g
            .pure-u-1.pure-u-md-1-3
              .text.tc
                .padding.border.border-orange
                  .spacer-20
                  .circle.circle-orange
                    span
                      | 11:45 - 13:20
                  h2 I processi del 
                    a(href='http://twitter.com/hashtag/SocialHR?f=realtime', target='_blank') #SocialHR
                  .spacer-10
            .pure-u-1.pure-u-md-2-3.valign
              .spacer-20
              .text
                .padding
                  h3 Smart Speech Sala 1
                  ul
                    li 
                      | 11:45 - 12:05 
                      br
                      i Community Enabling 
                      span (Alessandro Donadio) 
                    li.spacer-10
                    li
                      | 12:05 - 12:25
                      br
                      i Digital &amp; Social Environment 
                      span (Chiara Colombo) 
                    li.spacer-10
                    li 
                      | 12:25 - 12:40
                      br
                      i Social Engagement 
                      span (Annalisa Galardi)
                    li.spacer-10
                    li 
                      | 12:40 - 13:00 
                      br
                      i Community Enabling 
                      span (Alessandro Donadio) 
                    li.spacer-10
                    li
                      | 13:00 - 13:20
                      br
                      i Digital &amp; Social Environment 
                      span (Chiara Colombo) 
          .spacer-70

          .row.pure-g
            .pure-u-1.pure-u-md-1-3
              .text.tc
                .padding.border.border-orange
                  .spacer-20
                  .circle.circle-orange
                    span
                      | 11:45 - 13:20
                  h2 I processi del 
                    a(href='http://twitter.com/hashtag/SocialHR?f=realtime', target='_blank') #SocialHR
                  .spacer-10
            .pure-u-1.pure-u-md-2-3.valign
              .spacer-20
              .text
                .padding
                  h3 Smart Speech Sala 2
                  ul
                    li 
                      | 11:45 - 12:05
                      br
                      i Social Recruitment 
                      span (Valentina Marini) 
                    li.spacer-10
                    li
                      | 12:05 - 12:25
                      br
                      i Social Learning 
                      span (Roberto Pezza) 
                    li.spacer-10
                    li 
                      | 12:25 - 12:40 
                      br
                      i Social Recruitment 
                      span (Valentina Marini) 
                    li.spacer-10
                    li
                      | 12:40 - 13:00
                      br
                      i Social Learning 
                      span (Roberto Pezza)
                    li.spacer-10
                    li 
                      | 13:00 - 13:20
                      br
                      i Social Engagement 
                      span (Annalisa Galardi)

          .spacer-70

          .row.pure-g
            .pure-u-1.pure-u-md-1-3
              .text.tc
                .padding.border
                  .circle.circle-green
                    span
                      | 13:30 - 14:30
                  h2 Lunch

          .spacer-70

          .row.pure-g
            .pure-u-1.pure-u-md-1-3
              .text.tc
                .padding.border.border-azure
                  .spacer-20
                  .circle.circle-azure
                    span
                      | 14:30 - 16:30
                  h2 Strategia e Governance della 
                    a(href='http://twitter.com/hashtag/SocialOrg?f=realtime', target='_blank') #SocialOrg
                  .spacer-10
            .pure-u-1.pure-u-md-2-3.valign
              .spacer-20
              .text
                .padding
                  h3 Workshop in parallelo
                  ul
                    li 
                      i SALA 1 - La governance del cambiamento
                      br
                      | Presiede <span>Luca Solari</span>
                      br
                      | Partecipano <span>Gianluca Perin (Generali)</span>, <span>Paolo Melis (GRMA)</span>, <span>Roberta Vanetti (Whirlpool EMEA)</span>
                    li.spacer-10
                    li 
                      i SALA 2 - Agile Working
                      br
                      | Presiede <span>Annalisa Galardi</span>
                      br
                      | Partecipano <span>Pino Mercuri</span> (Microsoft), <span>Alessandra Stasi</span> (Barilla), <span>Elena Nizzero</span> (Nestlé)
                    li.spacer-10
                    li 
                      i SALA 3 - Le organizzazioni sono community 
                      br
                      | Presiede <span>Alessandro Donadio</span>
                      br
                      | Partecipano <span>Simone Tagliacozzo</span> (BNL), <span>Marcello Bugari</span> (GRMA), <span>Luciana De Laurentis</span> (Fastweb)

          .spacer-70

          .row.pure-g
            .pure-u-1.pure-u-md-1-3
              .text.tc
                .padding.border
                  .circle.circle-green
                    span
                      | 17:00
                  h2 Conclusione



block relatori
  .pure-g
    .pure-u-1.pure-u-md-1-2
      .pl.pr
        h1 
          span Relatori

        p.montserrat
          | Clicca sui relatori per vedere una loro breve biografia.

        #speakers

          .single-speaker
            span.pic
              img(src='static/img/relatori/piermarco-aroldi.jpg')
            h2 Piermarco Aroldi
            .text
              :markdown
                Professore Associato presso la Facoltà di Scienze della Formazione di Milano e Piacenza, dove insegna "Sociologia dei processi culturali e comunicativi", "Media e culture dell'infanzia" e "Teorie e tecniche dei nuovi media".  
                Dopo la laurea in Lettere moderne e il Diploma di specializzazione in Scienze della comunicazione ha conseguito il Dottorato di ricerca in Sociologia e metodologia della ricerca sociale; si occupa di sociologia della comunicazione e della cultura, con particolare attenzione all'ambito dei media; i suoi interessi scientifici si collocano nell'area degli studi sull'audience e l'esperienza mediale, soprattutto televisiva e online, sul rapporto media-minori e sulla media literacy. E' membro italiano dei network <a href="http://www.eukidsonline.net" target="_blank">Eu Kids Online</a> e <a href="http://www.netchildrengomobile.eu/" target="_blank">Net Children Go Mobile</a>, e della Cost Action IS096 <a href="http://www.cost-transforming-audiences.eu/" target="_blank">Transforming Audiences, Transforming Societies</a>; fa inoltre parte del Comitato di redazione della rivista Comunicazioni Sociali.  
                Dal 2013 dirige  OssCom, Centro di ricerca sui media e la comunicazione dell'Università Cattolica.

              .spacer-20

          .single-speaker
            span.pic
              img(src='static/img/relatori/marcello-bugari.jpg')
            h2 Marcello Bugari
            .text
              :markdown
                Dopo un'esperienza maturata presso un'agenzia assicurativa nella quale si è occupato di sviluppo  del portafoglio clienti, nel 1987 entra nel Gruppo Reale Mutua con un incarico nella Direzione Commerciale.  
                Dal 1996 Bugari si occupa di risorse umane e, dopo aver ricoperto il ruolo di Responsabile della Formazione del Personale, viene nominato nel 2008 Responsabile della Selezione e della Formazione.  
                Dal 2010 è Responsabile di Academy, la Scuola di Formazione del Gruppo Reale Mutua.  
                Collabora inoltre da diversi anni con alcune riviste di settore.

              .spacer-20

          .single-speaker
            span.pic
              img(src='static/img/relatori/elisabetta-caldera.jpg')
            h2 Elisabetta Caldera
            .text
              :markdown
                E' Direttore Risorse Umane e Organizzazione di Vodafone Italia e membro del Comitato Esecutivo da aprile 2012. Nel 2004 entra a far parte di Vodafone ricoprendo ruoli di crescente responsabilità. Come HR Manager ha gestito trasversalmente le attività di HR Operations in sette diversi paesi (SEMEA) del Gruppo Vodafone. Successivamente viene nominata Commercial HR Manager con la responsabilità delle divisioni commerciali di Vodafone Italia. Nel 2006 assume il ruolo di Responsabile HR Operations per gestire, oltre alle divisioni commerciali, anche le funzioni Corporate e Staff presenti in Italia. Dal 2009 al 2010 viene chiamata a Londra per guidare le attività HR per il progetto 'Commercial  Capability' del Gruppo Vodafone. Nel marzo 2010, è nominata Responsabile Sviluppo e Organizzazione di Vodafone Italia. Prima di entrare in Vodafone Elisabetta Caldera ha ricoperto incarichi manageriali in Foster Wheeler Italiana e in Alstom Power Italia. E' membro del Consiglio di Amministrazione di Falck Renewables SpA, nonchè Presidente del Comitato Risorse Umane e membro del Comitato Controllo e Rischi. Dal 2014 è entrata a far parte del Consiglio Direttivo di Asstel e della Giunta di Unindustria. Laureata in Lettere presso l'Università di Bologna, ha conseguito nel 2005 il certificato di Professional Counselling, e nel 2011 l'Executive Master in Senior HR Management presso la SDA Bocconi. Dal 2010 è membro di AssoCounseling.

              .spacer-20


          .single-speaker
            span.pic
              img(src='static/img/relatori/chiara-colombo.jpg')
            h2 Chiara Colombo
            .text
              :markdown
                PhD in Filosofia, ha lavorato 4 anni come editor di riviste del settore. Dal 2011 si occupa di Social Media Marketing e di Social & Digital Strategy con un focus specifico sull'allineamento della comunicazione interna ed esterna delle organizzazioni attraverso l'implementazione di community collaborative online.  
                E' docente della Facoltà di Scienze di Comunicazione dell'Università di Pavia e del Corso di Alta Formazione UPA "Comunicare l'azienda nell'era digitale".  
                E' Social & Digital Strategist di Hitrea e Social Media Manager di Vita e Pensiero Editore.

              .spacer-20


          .single-speaker
            span.pic
              img(src='static/img/relatori/alessandro-donadio.jpg')
            h2 Alessandro Donadio
            .text
              :markdown
                Ha iniziato a lavorare in azienda nell'ambito dello sviluppo risorse e formazione per poi passare alla consulenza in ambito HR e sviluppo organizzativo. Ha seguito progetti complessi di performance management system, modelli per competenze, talent management, ecc. Appassionato dell'approccio etnologico, affronta l'azienda con un'occhio attento alle sue "tribù": le community.  
                In questo solco dal 2008 ha approfondito il paradigma della Social Organization: ha quindi fondato e-nable, un hub di consulenti che promuove progetti di social business transformation, con un occhio puntato sulla funzione (Social) HR. Da quest'anno e-nable è confluita in Hitrea di cui è Partner e Social Organization strategist.  
                Web surfer accanito, segue molti blog e vive l'esperienza social su twitter, linkedin, Facebook.  
                Il suo blog <a href="http://aledonadio20.wordpress.com/" target="_blank">Metaloghi organizzativi 2.0</a> è punto di riferimento di divulgazione sul tema della Social Enterprise.




              .spacer-20


          .single-speaker
            span.pic
              img(src='static/img/relatori/annalisa-galardi.jpg')
            h2 Annalisa Galardi
            .text
              :markdown
                E' docente di Comunicazione pubblica e d'impresa all'Università Cattolica di Milano. Mamma di tre figli, è Laureata in Lettere Moderne con una tesi in Psicologia Sociale, ha conseguito un PhD in Rappresentazioni e comportamenti politici. Ha da sempre lavorato sia all'interno che all'esterno dell'ambito accademico, privilegiando esperienze professionali caratterizzate dalla tensione all'innovazione e dalla possibilità di contaminazione tra le diverse discipline. Nel 1996, in Opera Multimedia, ha tenuto la sua prima rubrica online; per la stessa casa editrice ha partecipato all'edizione del progetto di U. Eco _Encyclomedia_, la prima enciclopedia multimediale pensata per una fruizione multimediale e alla realizzazione di prodotti per l'e-learning. Ha partecipato all' Innovation Team di Barilla e ha fatto esperienza d'insegnamento internazionale presso l'Université Saint Joseph di Beyrut e L'Università della Svizzera Italiana di Lugano. Attualmente è Responsabile della Comunicazione di GSO Company, Membro del Comitato Scientifico della Fondazione Adriano Olivetti e da quest'anno Employee and Communication Strategist e partner di Hitrea.

              .spacer-20


          .single-speaker
            span.pic
              img(src='static/img/relatori/valentina-marini.jpg')
            h2 Valentina Marini
            .text
              :markdown
                E' consulente HR presso GSO Company e cultore della materia in “Pedagogia delle Risorse Umane e delle Organizzazioni” presso la Facoltà di Scienze della Formazione all'Università di Roma Tre, dove ha conseguito la laurea in Scienze dell'Educazione degli Adulti e Formazione Continua.  
                Ha lavorato presso il Consorzio ELIS di Roma seguendo la progettazione, il coordinamento e la realizzazione di “HR Academy”, un Master interaziendale, realizzato in parte in Inghilterra, per giovani neolaureati interessati ad operare nell'area delle Risorse Umane.  
                Appassionata di Social & Media Recruitment, svolge attività di ricerca, con particolare attenzione all'impatto degli strumenti 2.0  sul mondo HR.

              .spacer-20


          .single-speaker
            span.pic
              img(src='static/img/relatori/pino-mercuri.jpg')
            h2 Pino Mercuri
            .text
              :markdown
                Direttore delle Risorse Umane di Microsoft Italia, ha la responsabilità del recruiting, della gestione e della valorizzazione delle risorse umane per la filiale di italiana. Avrà il compito di rafforzare ulteriormente la diffusione del “New World of Work”: un sistema di obiettivi chiaro a cui viene associato uno strutturato sistema premiante, percorsi di crescita e sviluppo in azienda, politiche di valorizzazione dei talenti, un sistema di welfare volto a massimizzare il potenziale di ognuno e un contesto lavorativo informale e dinamico, dove la migliore tecnologia consente alle persone di conciliare vita privata e professionale con la massima flessibilità.  
                Pino Mercuri raggiunge la filiale italiana di Microsoft, premiata lo scorso anno come “Best Place to Work” confermando infatti la validità della scelta operata dall'azienda di fornire una nuova organizzazione del lavoro, più flessibile e attenta alle esigenze e alle responsabilità dei singoli, lasciando agli oltre 900 dipendenti in Italia la possibilità di lavorare dovunque si trovino con tempi che favoriscono la conciliazione tra impegni professionali e vita privata.  
                Sposato con tre figli, ama viaggiare, adora il cinema, la buona cucina ed ha una passione per le nuove tecnologie, pratica diversi sport tra cui calcio e running.

              .spacer-20


          .single-speaker
            span.pic
              img(src='static/img/relatori/roberto-pezza.jpg')
            h2 Roberto Pezza
            .text
              :markdown
                Dal Training & Development in un Gruppo multinazionale italiano, approda immediatamente alla consulenza HR. Trainer, Assessor e consulente per i Sistemi HR e l'Organizzazione, unisce competenze di organizzazione, di people development e IT per mettere a disposizione dei Clienti soluzioni multidisciplinari. Ha accompagnato organizzazioni in diversi business nella progettazione e implementazione di sistemi di sviluppo, performance management e talent management. Da oltre 10 anni ha esperienza nel software design per tool di Skills Evaluation, eLearning e Sistemi HR. Partner GSO e Partner hitrea, realizza progetti di trasformazione verso la Social Organization, con particolare focus nell'ambito e Social HR, Social Performance&Talent Management e Social Learning. Eclettico e innovativo, interessato soprattutto a cosa si può fare con le nuove tecnologie, ha trasformato il suo modo di essere professionista HR attraverso Internet e i Social professionali. Da quest'anno presente con il suo blog <a href="http://www.robertopezza.com" target="_blank">robertopezza.com</a>.

              .spacer-20



          .single-speaker
            span.pic
              img(src='static/img/relatori/luca-solari.jpg')
            h2 Luca Solari
            .text
              :markdown
                E' professore ordinario di Organizzazione e Gestione delle Risorse Umane all'Università degli Studi di Milano e docente del MBA del MIP-Politecnico. Ha conseguito il dottorato di ricerca in economia aziendale presso l'Università Luigi Bocconi di Milano. Ha un'esperienza significativa nella progettazione ed erogazione di programmi di cambiamento per Executive, con attività di coaching, formazione e consulenza basata sulla ricerca. Riveste oggi il ruolo di Corporate Sensemaker, Blogger e Social Media experimenter interessato al futuro delle organizzazioni.  
                Nel 2013 è stato il primo e unico italiano a essere invitato come Keynote speaker alla Global Conference di HRPS a Denver, Colorado. È Academic in Residence per Executive Network. All'Academy of Management Conference di Philadelphia dell'agosto del 2014 un suo paper riceverà il Best Paper Award della HR Division.

              .spacer-20


          .single-speaker
            span.pic
              img(src='static/img/relatori/alessandra-stasi.jpg')
            h2 Alessandra Stasi
            .text
              :markdown
                E' Organization & People Director del Gruppo Barilla coordinando a livello globale l'area Organizzazione, Selezione, Talent Management, Training & Development. Ha conseguito la laurea in Economia aziendale all'Università Luigi Bocconi di Milano. Dopo brevi esperienze lavorative, è entrata a far parte del Gruppo Barilla nel 1997 nell'area Organizzazione. La sua esperienza si è sviluppata sia nelle aree specialistiche Corporate HR che nelle aree più generalistiche come HR Manager essendo stata responsabile HR di diverse aree aziendali anche all'estero nei paesi Nordici.

              .spacer-20


          .single-speaker
            span.pic
              img(src='static/img/relatori/simone-tagliacozzo.jpg')
            h2 Simone Tagliacozzo
            .text
              :markdown
                Ingegnere gestionale di una generazione non ancora nativa digitale ma che già chiamano Y: l'anello di congiunzione tra il GameBoy, Napster e Uber. Appassionato di tecnologia applicata al mondo della comunicazione e di paradigmi umani applicati alle innovazioni tecnologiche. Da due anni in una banca storica come BNL e in Gruppo moderno e globale come BNP Paribas. In comunicazione interna con particolare attenzione alle dinamiche collaborative, quando la comunicazione si fa meno megafono e sempre più infrastruttura abilitante, e inevitabilmente business oriented. Chi è cresciuto con Google, Wikipedia e Pinterest testimonia che spesso la vera competenza non è quello che sai, ma come sai cercare ed apprendere quello che ti serve.  
                E una cultura così in azienda è esplosiva, cambia i paradigmi e ci rende tutti trasversali e liquidi.


              .spacer-20


          .single-speaker
            span.pic
              img(src='static/img/relatori/marco-vitale.jpg')
            h2 Marco Vitale
            .text
              :markdown
                Economista d'impresa, ha svolto intensa attività professionale e didattica presso le Università di Pavia, Bocconi, Libera Università Carlo Cattaneo e presso le scuole di management Istao e Istud. Già socio Arthur Andersen è socio fondatore e presidente della Vitale Novello & Co. S.r.l. nell'ambito della quale è consulente e amministratore di importanti società.  
                E' stato presidente di A.I.F.I., associazione nazionale delle merchant bank e cofondatore e primo presidente del gruppo Arca, vicepresidente della Banca Popolare di Milano e presidente di Bipiemme Gestioni SGR fino al 2008. E' presidente della Rino Snaidero Scientific Foundation; proboviro di AIdAF (Associazione Italiana delle Aziende Familiari); membro del comitato direttivo della Fondazione Adriano Olivetti; membro del consiglio della Fondazione FAI (Fondo per l'Ambiente Italiano), già presidente del Fondo Italiano d'Investimento nelle Piccole e Medie Imprese.  
                Ha rivestito significativi incarichi pubblici ed è autore di numerosi libri Passaggio al futuro. Oltre la crisi, attraverso la crisi (Egea 2010); Corruzione (ESD Edizioni 2010); Responsabilità nell'impresa (Piccola Biblioteca d'Impresa Inaz, 2010); Longevità (ESD Edizioni, 2011); Spiritualità nell'Impresa (Piccola Biblioteca d'Impresa, Inaz, 2011). Il suo sito è <a href="http://www.marcovitale.it" target="_blank">www.marcovitale.it</a>.

              .spacer-20


          .single-speaker
            span.pic
              img(src='static/img/relatori/roberta-vanetti.jpg')
            h2 Roberta Vanetti
            .text
              :markdown
                Comincia la sua carriera come interprete. Nel 1990 entra a far parte di Whirlpool ricoprendo diversi ruoli internazionali.   
                Parte dalle ricerche di mercato come analista per poi diventare responsabile della digitalizzazione della vastissima “knowledge base” di Customer insights per il marketing e responsabile di tutte le attività di “cultural change” di formazione e comunicazione legate al progetto. Diventa poi parte del team globale per Employee Intranet Portal e nel 2000 ricopre la posizione globale di Knowledge Management Mgr. rappresentando EMEA. Lavora in US e in Brasile.  
                Nel 2005 ricopre la posizione di Talent Management and Organizational Development Mgr. Partecipando alla creazione di una strategia e-learning e alla nascita di Whirlpool University. E' tutt'ora membro del Corporate University Council.  
                Diventa Innovation Mgr. nel 2008 per consolidare le competenze di  "innovatrice" e nel 2010 diventa Manager Interactive Communication. Dal 2013 ricopre il ruolo di Social Media Lead nell'ambito delle Corporate Communications con un focus specifico sull'allineamento della comunicazione interna, esterna e di brand. 

              .spacer-20


          .single-speaker
            span.pic
              img(src='static/img/relatori/paolo-zanenga.jpg')
            h2 Paolo Zanenga
            .text
              :markdown
                Ingegnere, ha svolto attività di ricerca negli Stati Uniti, in Francia e in Italia nel campo della strategia e dell'organizzazione.Tiene un corso sulla complessità delle reti della conoscenza presso la Scuola di Dottorato del Politecnico di Torino, è docente presso Polidesign e Domus Academy, visiting speaker in Copenhagen Business School, SDA Bocconi, Parsons New School di NewYork e in altre accademie italiane e internazionali.  
                Lavora su nuovi modelli dell'innovazione e dell'impresa, anche avvalendosi di reti internazionali di accademie e aziende. Fin dall'inizio della sua attività, si è dedicato a temi di frontiera riguardanti il rapporto tra tecnologie e organizzazioni. Nel 2010 la pubblicazione de "Le Reti di Diotima – Società della conoscenza ed economia della bellezza" per Carocci, porta alla fondazione della Diotima Society, associazione culturale internazionale che promuove, organizza, e sperimenta reti di conoscenza locali e globali, in modo da favorire superiori livelli di collaborazione tra imprese, istituzioni, comunità e singole persone. Fondatore di TWG Consulting, ha seguito importanti progetti di trasformazione e sviluppo (Finmeccanica, Ciba, Nestlè, Pfizer, GE, Telecom Italia,Governo Russo).  
                E' CEO di Natam; membro dei “conclavi” di Dream:in; Presidente di PDMA per il Sud Europa; Membro della commissione Ricerca e Innovazione di Confindustria; Membro della rete internazionale Value Creation Group (Business Process Management).

              .spacer-20


block letture
  .pure-g
    .pure-u-1.pure-u-md-1-2
      .pl.pr
        h1
          span Letture
        ul
          li
            a(href='http://wp.me/p14adv-u', target='_blank')
              | Innovazione sociale, innovazione nella gestione delle risorse umane: il mondo nell'era 2.0
            span &nbsp;di Luca Solari
          li
            a(href='http://wp.me/p14adv-3U', target='_blank')
              | HR 2.0 alcune idee in slide
            span &nbsp;di Luca Solari
          li
            a(href='http://wp.me/p14adv-47', target='_blank')
              | Capire il 2.0
            span &nbsp;di Luca Solari
          li
            a(href='http://wp.me/p14adv-4K', target='_blank')
              | Il sensemaking come intervento sull'organizzazione
            span &nbsp;di Luca Solari
          li
            a(href='http://wp.me/p14adv-5w', target='_blank')
              | HR 2.0, employer branding e innovazione
            span &nbsp;di Luca Solari
          li
            a(href='http://aledonadio20.wordpress.com/2014/01/18/il-socialhr-progettista-della-social-organization/', target='_blank')
              | Il SocialHR progettista della social organization
            span &nbsp;di Alessandro Donadio              
          li
            a(href='http://aledonadio20.wordpress.com/2014/03/16/il-knowledge-al-tempo-delle-community/', target='_blank')
              | Il knowledge al tempo delle community
            span &nbsp;di Alessandro Donadio
          li
            a(href='http://aledonadio20.wordpress.com/2014/06/07/byok-un-acronimo-da-social-organization/', target='_blank')
              | BYOK: un acronimo da Social Organization
            span &nbsp;di Alessandro Donadio
          li
            a(href='http://robertopezza.com/2014/06/16/car-sharing-2-0-e-linsegnamento-per-il-social-learning/', target='_blank')
              | Car Sharing 2.0 e l'insegnamento per il Social Learning
            span &nbsp;di Roberto Pezza




block iscriviti
  .pure-g
    .pure-u-1.pure-u-md-2-3
      .pl.pr
        h1 
          span Iscriviti all'evento
        p
          | Iscrizioni aperte fino ad esaurimento posti.
        p
          | L'iscrizione prevede un costo di 600 euro. 
          span.bigger
            strong Se ti iscrivi entro il 26 settembre il costo della partecipazione è di 480 euro
          | &nbsp;(pi&ugrave; IVA alle aliquote di legge vigenti) da versare via bonifico bancario a:
          code
            | Hitrea Srl
            br
            br
            | IBAN IT23X0303211705010000000427BICSELBIT2BXXX
        p
          | Per i possessori di promo code è <b>OBBLIGATORIO</b> il suo inserimento nel form sottostante.
          br
          | Riceverete una mail di conferma dell'avvenuta iscrizione al meeting una volta verificati i Vs dati e l'addebito del bonifico effettuato.
        p
          small
            i Eventuali disdette comunicate con un <b>preavviso inferiore a 15 giorni</b> rispetto alla data dell’iniziativa, daranno diritto al rimborso del solo 50% della quota prevista. Disdette comunicate con un <b>preavviso pari o inferiore a 5 giorni</b> NON daranno diritto al rimborso della quota.

        form#subscribe-form.pure-form.pure-form-stacked(method='POST', action='https://www.youform.me/api/form/29298ab4-3558-402c-b0f3-5231d1908cb9')
          small
            | I campi con * sono obbligatori.

          label(for='nome-cognome') Nome e cognome*
          input(type='text', id='nome-cognome', name='nome-cognome', required)

          label(for='email') Indirizzo e-mail*
          input(type='email', id='email', name='email', required)

          label(for='azienda') Azienda*
          input(type='text', id='azienda', name='azienda', required)

          label(for='ruolo') Ruolo*
          input(type='text', id='ruolo', name='ruolo', required)

          label(for='telefono') Telefono*
          input(type='text', id='telefono', name='telefono', required)

          label(for='cro-bonifico') Riferimento CRO bonifico*
          input(type='text', id='cro-bonifico', name='cro-bonifico', required)

          label(for='intestazione-fattura') Intestazione fattura
          textarea(type='text', id='intestazione-fattura', name='intestazione-fattura')

          label(for='email-per-fattura') Indirizzo e-mail spedizione fattura
          input(type='email', id='email-per-fattura', name='email-per-fattura')

          label(for='accettazione-dati-personali') 
            input(type='checkbox', id ='accettazione-dati-personali', name='accettazione-dati-personali', required)
            | &nbsp; Autorizzo al trattamento dei miei dati personali*

          label(for='autorizzazione-riprese') 
            input(type='checkbox', id ='autorizzazione-riprese', name='autorizzazione-riprese', required)
            | &nbsp; Autorizzo la ripresa audio-video e la sua diffusione a mezzo web*

          button.pure-button.pure-button-primary(type='submit')
            i.fa.fa-check
            span Iscriviti all'evento


block location
  .pure-g
    .pure-u-1.pure-u-md-2-3
      .pl.pr
        h1
          span Location
        .spacer-40
        .text
          :markdown
            ###In auto###
            Dalla tangenziale est prendere l'uscita n. 10 via Palmanova.  
            Continuare sul Cavalcavia Cascina Gobba e su via Palmanova. Girare a destra in via San Giovanni De la Salle e poi a sinistra in via Padova.  
            Imboccare, a destra, via Francesco Cavezzali. Proseguire dritto fino a via Stamira D'Ancona n. 25.  
            &nbsp;  

            ###In treno###
            Dalla Stazione Centrale prendere la MM2 (verde) in direzione Cascina Gobba fino a Loreto e poi la MM1 (rossa) in direzione Sesto FS, fino alla fermata Turro.  
            &nbsp;  

            ###In aereo###
            __Dall'Aeroporto Linate__:  
            - A51 o Tangenziale est uscita 10 via Palmanova  
            - Autobus n. 73 fino a San Babila. MM1 linea rossa in direzione Sesto FS, scendere a Turro  
            - Shuttle per la Stazione Centrale e poi MM2 linea verde in direzione Cascina Gobba fino a Loreto, MM1 in direzione Sesto FS, fino a Turro  
            &nbsp;  

            __Dall'Aeroporto Malpensa__:
            - Shuttle per la Stazione Centrale. MM2 in direzione Cascina Gobba fino a Loreto, MM1 in direzione Sesto FS fino a Turro  
            - Malpensa Express fino alla Stazione Nord Cadorna, MM1 in direzione Sesto FS fino a Turro

        .spacer-60
        #g-map(style='width: 100%; height:400px;')
        #g-map-infos(style='display:none')
          .g-map-infos-text
            h4 Camplus Living Turro
            p via Stamira d'Ancona 25



block scripts
  script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBAOjKWKkV5wgbuCw0aGKjigk7mDYrRi-Y&sensor=false')
  script.
    google.maps.event.addDomListener(window, 'load', init);

    NodeList.prototype.forEach = Array.prototype.forEach;
    HTMLCollection.prototype.forEach = Array.prototype.forEach;
    
    function init() {

      var mapElement = document.getElementById('g-map');
      var centerCoords = new google.maps.LatLng(45.501324,9.226284);
      var pinLocation = new google.maps.LatLng(45.501738, 9.228324); // indirizzo location
      var mapPinInfo = new google.maps.InfoWindow({
        content: document.getElementById('g-map-infos').innerHTML
      });
      var mapOptions = {
        zoom: 15,
        center: centerCoords, 
        disableDefaultUI: true,
        scrollwheel: false,
        styles: [{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#C6E2FF"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"color":"#C5E3BF"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"color":"#D1D1B8"}]}]
      };
      var map = new google.maps.Map(mapElement, mapOptions);
      var mapPin = new google.maps.Marker({
        position: pinLocation,
        map: map,
        icon: '/static/img/map-marker.png'
      });

      window.google.maps.event.addDomListener(window, 'resize', function() {
        map.setCenter(centerCoords);
      });

      window.google.maps.event.addListener(mapPin, 'click', function() {
        mapPinInfo.open(map, mapPin)
      });

      mapPinInfo.open(map, mapPin);
      
    }

