extends layout/layout

block main
  .pure-g
    .pure-u-1.pure-u-md-1-2
      .pl.pr
        .spacer-40
        h5#hashtags.transition.fadeIn
          i.fa.fa-twitter.twitter-icon
          span 
            a(href='http://twitter.com/hashtag/SOday14?f=realtime', target='_blank') #SOday14 
          span
            a(href='http://twitter.com/hashtag/SocialOrg?f=realtime', target='_blank') #SocialOrg 
          span
            a(href='http://twitter.com/hashtag/SocialHR?f=realtime', target='_blank') #SocialHR
        .spacer-10



    .pure-u-1.pure-u-md-1-2
      .spacer-10
      .pl.pr
        .partners.transition.fadeIn
          .tl.box
            img.partner.partner-bigger(src='static/img/partners/partner-hitrea.png', alt='Hitrea', style='margin: 0;')
            small.tl.fix
              b Hitrea 
              | è membro di 
              b GSO Company
          .tl.box
            img.partner.no-margin(src='static/img/partners/partner-luoghi.png', alt='Luoghi di Relazione', style='margin-top: 15px;')
      .spacer-50


    .pure-u-1.pure-u-md-1-2
      .pl.pr

        img#logo.transition.fadeIn(src='static/img/logo-white@2x.png')

        h2.transition.fadeIn
          | Dalla comunit&agrave;
          br
          | alle community
        
        p.when.transition.fadeIn
          span.uppercase
            | Milano, 20 novembre 2014
        
        p.abstract.transition.fadeIn
          | Cosa accade quando la sfida dei social media si gioca all'interno dell'organizzazione?

        .spacer-60

        .subscribe.transition2.fadeIn
          .subscribe-btn
            p Resta aggiornato!
            form.form.magic.send_email_form(method='post', action='http://hitrea.us8.list-manage1.com/subscribe/post?u=d006ae2613ee762f9e573e14d&id=8999585e26', target='_blank', onSubmit='return confirm("Procedendo la mail inserita verrà utilizzata esclusivamente per comunicazioni riguardanti il meeting e per elaborazioni amministrative interne. Continuare?");')
              .input-elements
                input(type='hidden', name='b_d006ae2613ee762f9e573e14d_8999585e26', tabindex='-1', value='')
                input#mce-EMAIL.email-input.required(type='email', name='EMAIL', placeholder='Il tuo indirizzo e-mail', required='required', data-validation-type='email')
                button.email-btn(name='submit_email') OK

        .spacer-30

        .share-container.transition2.fadeIn
          p Condividi!
          .addthis_sharing_toolbox
          script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53b56d9d2987a50c')

        .spacer-30
        

    .pure-u-1.pure-u-md-1-2

      //-
        #countdown.fadeIn.tc
          h4 Mancano
          span &nbsp;
      .spacer-10

      .pl.pr
        .partners.f-partners.transition.fadeIn
          .box.tl(style='margin-right:45px;')
            h5
              span Con il patrocinio di
            img.partner(src='static/img/partners/partner-olivetti.png', alt='Fondazione Olivetti')
            .text
              .pl.pr
                :markdown
                  La Fondazione Adriano Olivetti, nata nel 1962 per volere della famiglia e degli amici più stretti dell’imprenditore piemontese, ha avviato, negli ultimi anni, un intenso itinerario divulgativo del pensiero olivettiano attraverso la collaborazione con realtà formative e istituzionali a livello nazionale e internazionale. L’esperienza di Adriano Olivetti è oggi patrimonio del nostro Paese, un modello imprenditoriale, sociale e culturale sempre più spesso al centro del dibattito sull’attualità, da cui attingere per elaborare nuove idee di sviluppo. Sensibilizzare e avvicinare le nuove generazioni ai valori e all’esperienza olivettiana è il fulcro del lavoro di divulgazione che la Fondazione conduce nelle scuole, nelle università, nel mondo del no profit e in collaborazione con enti pubblici o privati.  
                  Negli ultimi anni la Fondazione ha inoltre voluto riportare l’attenzione su Ivrea, citta/laboratorio dell’Innovazione, e sul suo patrimonio tangibile e intangibile, eredità e sintesi di un esemplare modello di impresa, oggi candidato a diventare patrimonio UNESCO. Impresa, Territorio e Comunità sono i paradigmi olivettiani a cui si ispirano tutti i nostri progetti.  


                  Per saperne di più: 
                  * __sito__ [http://www.fondazioneadrianolivetti.it](http://www.fondazioneadrianolivetti.it)  
                  * __Facebook__ [FondazioneAdrianoOlivetti](http://www.facebook.come/FondazioneAdrianoOlivetti)  
                  * __Twitter__ [@Fond_A_Olivetti](http://www.twitter.com/Fond_A_Olivetti)

          .box.tl
            h5
              span Con la partecipazione di
            img.partner(src='static/img/partners/partner-cattolica.png', alt='Università Cattolica del Sacro Cuore - Centro di ricerca sui media e la comunicazione')
            .text
              .pl.pr
                :markdown
                  OssCom, Centro di ricerca sui media e la comunicazione, è stato fondato nel 1994 allo scopo di condurre ricerca teorica e applicata nel campo del sistema dei media e dell'industria culturale italiana.  
                  L'obiettivo primario del Centro è costituire un'interfaccia tra la ricerca accademica e il mondo professionale fornendo un supporto alle imprese e alle istituzioni impegnate nel contesto mutevole del mercato dei media, al fine di accompagnarne le strategie comunicative, la costruzione dell’offerta, l’analisi del consumo e la definizione delle policies in modo consapevole ed efficace.  
                  Le attività di ricerca di OssCom coprono numerose aree e temi, e integrano differenti metodologie, che permettono al cliente di modulare i propri obiettivi secondo diversi livelli di analisi: di prodotto e dell'offerta, delle audience/users e delle pratiche fruitive, di scenario e di contesto.  

                  Per informazioni: [http://centridiricerca.unicatt.it/osscom](centridiricerca.unicatt.it/osscom)

        .spacer-20
        .clicked-text





block programma
  .pure-g
    .pure-u-1.pure-u-md-2-3
      .pl.pr
        h1 
          span Programma provvisorio

        #agenda

          .row.pure-g
            .pure-u-1.pure-u-md-1-3
              .text.tc
                .padding.border.border-yellow
                  .spacer-20
                  .circle.circle-yellow
                    span 9:30 - 11:30
                  h2 Tavola rotonda
                  h3 Dalla comunità alle community
                  .spacer-10
            .pure-u-1.pure-u-md-2-3.valign
              .text
                .padding
                  h3 Chairman
                  ul
                    li 
                      span Luca Solari  
                      | – Hitrea
                  .spacer-30
                  h3 Relatori
                  ul
                    //-
                      li 
                        span Marco Vitale 
                        | – Fondazione Olivetti
                    li 
                      span Elisabetta Caldera 
                      | – Vodafone
                    li 
                      span Nicola Palmarini 
                      | – Arepo Bp
                    li 
                      span Paolo Zanenga 
                      | – TWG Consulting
                    li 
                      span Piermarco Aroldi 
                      | – OssCom

          .spacer-70

          .row.pure-g
            .pure-u-1.pure-u-md-1-3
              .text.tc
                .padding.border.border-orange
                  .spacer-20
                  .circle.circle-orange
                    span
                      | 11:45 - 12:00
                      br
                      | 12:25 - 12:45
                  h2 I processi del 
                    a(href='http://twitter.com/hashtag/SocialHR?f=realtime', target='_blank') #SocialHR
                  .spacer-10
            .pure-u-1.pure-u-md-2-3.valign
              .text
                .padding
                  h3 Smart Speech
                  ul
                    li 
                      i SALA 1 
                      span A. Donadio, 
                      | Community Enabling
                    li
                      i SALA 2
                      span C. Colombo, 
                      | Digital &amp; Social Environment
                    li 
                      i SALA 3 
                      span A. Galardi, 
                      | Social Engagement

          .spacer-70

          .row.pure-g
            .pure-u-1.pure-u-md-1-3
              .text.tc
                .padding.border.border-orange
                  .spacer-20
                  .circle.circle-orange
                    span
                      | 12:05 - 12:20
                      br
                      | 12:45 - 13:00
                  h2 I processi del 
                    a(href='http://twitter.com/hashtag/SocialHR?f=realtime', target='_blank') #SocialHR
                  .spacer-10
            .pure-u-1.pure-u-md-2-3.valign
              .text
                .padding
                  h3 Smart Speech
                  ul
                    li 
                      i SALA 1 
                      span V. Marini, 
                      | Social Recruiting e Employer branding
                    li 
                      i SALA 2 
                      span R. Pezza, 
                      | Social Learning

          .spacer-70

          .row.pure-g
            .pure-u-1.pure-u-md-1-3
              .text.tc
                .padding.border
                  .circle.circle-green
                    span
                      | 13:30 - 14:30
                  h2 Lunch

          .spacer-70

          .row.pure-g
            .pure-u-1.pure-u-md-1-3
              .text.tc
                .padding.border.border-azure
                  .spacer-20
                  .circle.circle-azure
                    span
                      | 14:30 - 16:30
                  h2 Strategia e Governance della 
                    a(href='http://twitter.com/hashtag/SocialOrg?f=realtime', target='_blank') #SocialOrg
                  .spacer-10
            .pure-u-1.pure-u-md-2-3.valign
              .text
                .padding
                  h3 Workshop
                  ul
                    li 
                      i SALA 1 
                      | La governance del cambiamento
                    li 
                      i SALA 2 
                      | L'Agile Management
                    li 
                      i SALA 3 
                      | Le organizzazioni sono community

          .spacer-70

          .row.pure-g
            .pure-u-1.pure-u-md-1-3
              .text.tc
                .padding.border
                  .circle.circle-green
                    span
                      | 17:00
                  h2 Conclusione



block relatori
  .pure-g
    .pure-u-1.pure-u-md-1-2
      .pl.pr
        h1 
          span Relatori

        p.montserrat
          | Clicca sui relatori per vedere una loro breve biografia.

        #speakers

          .single-speaker
            span.pic
              img(src='static/img/relatori/luca-solari.jpg')
            h2 Luca Solari
            .text
              :markdown
                E' professore ordinario di Organizzazione e Gestione delle Risorse Umane all'Università degli Studi di Milano e docente del MBA del MIP-Politecnico. Ha conseguito il dottorato di ricerca in economia aziendale presso l'Università Luigi Bocconi di Milano. Ha un'esperienza significativa nella progettazione ed erogazione di programmi di cambiamento per Executive, con attività di coaching, formazione e consulenza basata sulla ricerca. Riveste oggi il ruolo di Corporate Sensemaker, Blogger e Social Media experimenter interessato al futuro delle organizzazioni.  
                Nel 2013 è stato il primo e unico italiano a essere invitato come Keynote speaker alla Global Conference di HRPS a Denver, Colorado. È Academic in Residence per Executive Network. All'Academy of Management Conference di Philadelphia dell'agosto del 2014 un suo paper riceverà il Best Paper Award della HR Division.

              .spacer-20

          .single-speaker
            span.pic
              img(src='static/img/relatori/piermarco-aroldi.jpg')
            h2 Piermarco Aroldi
            .text
              :markdown
                Professore Associato presso la Facoltà di Scienze della Formazione di Milano e Piacenza, dove insegna "Sociologia dei processi culturali e comunicativi", "Media e culture dell'infanzia" e "Teorie e tecniche dei nuovi media".  
                Dopo la laurea in Lettere moderne e il Diploma di specializzazione in Scienze della comunicazione ha conseguito il Dottorato di ricerca in Sociologia e metodologia della ricerca sociale; si occupa di sociologia della comunicazione e della cultura, con particolare attenzione all'ambito dei media; i suoi interessi scientifici si collocano nell'area degli studi sull'audience e l'esperienza mediale, soprattutto televisiva e online, sul rapporto media-minori e sulla media literacy. E' membro italiano dei network <a href="http://www.eukidsonline.net" target="_blank">Eu Kids Online</a> e <a href="http://www.netchildrengomobile.eu/" target="_blank">Net Children Go Mobile</a>, e della Cost Action IS096 <a href="http://www.cost-transforming-audiences.eu/" target="_blank">Transforming Audiences, Transforming Societies</a>; fa inoltre parte del Comitato di redazione della rivista Comunicazioni Sociali.  
                Dal 2013 dirige  OssCom, Centro di ricerca sui media e la comunicazione dell'Università Cattolica.

              .spacer-20

          .single-speaker
            span.pic
              img(src='static/img/relatori/paolo-zanenga.jpg')
            h2 Paolo Zanenga
            .text
              :markdown
                Ingegnere, ha svolto attività di ricerca negli Stati Uniti, in Francia e in Italia nel campo della strategia e dell'organizzazione.Tiene un corso sulla complessità delle reti della conoscenza presso la Scuola di Dottorato del Politecnico di Torino, è docente presso Polidesign e Domus Academy, visiting speaker in Copenhagen Business School, SDA Bocconi, Parsons New School di NewYork e in altre accademie italiane e internazionali.  
                Lavora su nuovi modelli dell'innovazione e dell'impresa, anche avvalendosi di reti internazionali di accademie e aziende. Fin dall'inizio della sua attività, si è dedicato a temi di frontiera riguardanti il rapporto tra tecnologie e organizzazioni. Nel 2010 la pubblicazione de “Le Reti di Diotima – Società della conoscenza ed economia della bellezza” per Carocci, porta alla fondazione della Diotima Society, associazione culturale internazionale che promuove, organizza, e sperimenta reti di conoscenza locali e globali, in modo da favorire superiori livelli di collaborazione tra imprese, istituzioni, comunità e singole persone. Fondatore di TWG Consulting, ha seguito importanti progetti di trasformazione e sviluppo (Finmeccanica, Ciba, Nestlè, Pfizer, GE, Telecom Italia,Governo Russo).  
                E' CEO di Natam; membro dei “conclavi” di Dream:in; Presidente di PDMA per il Sud Europa; Membro della commissione Ricerca e Innovazione di Confindustria; Membro della rete internazionale Value Creation Group (Business Process Management).

              .spacer-20


block letture
  .pure-g
    .pure-u-1.pure-u-md-1-2
      .pl.pr
        h1
          span Letture
        ul
          li
            a(href='http://wp.me/p14adv-u', target='_blank')
              | Innovazione sociale, innovazione nella gestione delle risorse umane: il mondo nell’era 2.0
            span &nbsp;di Luca Solari
          li
            a(href='http://wp.me/p14adv-3U', target='_blank')
              | HR 2.0 alcune idee in slide
            span &nbsp;di Luca Solari
          li
            a(href='http://wp.me/p14adv-47', target='_blank')
              | Capire il 2.0
            span &nbsp;di Luca Solari
          li
            a(href='http://wp.me/p14adv-4K', target='_blank')
              | Il sensemaking come intervento sull’organizzazione
            span &nbsp;di Luca Solari
          li
            a(href='http://wp.me/p14adv-5w', target='_blank')
              | HR 2.0, employer branding e innovazione
            span &nbsp;di Luca Solari
          li
            a(href='http://aledonadio20.wordpress.com/2014/01/18/il-socialhr-progettista-della-social-organization/', target='_blank')
              | Il SocialHR progettista della social organization
            span &nbsp;di Alessandro Donadio              
          li
            a(href='http://aledonadio20.wordpress.com/2014/03/16/il-knowledge-al-tempo-delle-community/', target='_blank')
              | Il knowledge al tempo delle community
            span &nbsp;di Alessandro Donadio
          li
            a(href='http://aledonadio20.wordpress.com/2014/06/07/byok-un-acronimo-da-social-organization/', target='_blank')
              | BYOK: un acronimo da Social Organization
            span &nbsp;di Alessandro Donadio
          li
            a(href='http://robertopezza.com/2014/06/16/car-sharing-2-0-e-linsegnamento-per-il-social-learning/', target='_blank')
              | Car Sharing 2.0 e l’insegnamento per il Social Learning
            span &nbsp;di Roberto Pezza




block iscriviti
  .pure-g
    .pure-u-1.pure-u-md-2-3
      .pl.pr
        h1 
          span Iscriviti
        p
          | L'iscrizione prevede un costo di euro 600,00 (+ IVA alle aliquote di legge vigenti), da versare via bonifico bancario a 
          code
            | Hitrea Srl
            br
            br
            | IBAN IT23X0303211705010000000427BICSELBIT2BXXX
        p
          | Per i possessori di promo code è <b>OBBLIGATORIO</b> il suo inserimento nel form sottostante.
          br
          | Riceverete una mail di conferma dell'avvenuta iscrizione al meeting una volta verificati i Vs dati e l'addebito del bonifico effettuato.

        form#subscribe-form.pure-form.pure-form-stacked(method='POST', action='//hitrea.us8.list-manage.com/subscribe/post?u=d006ae2613ee762f9e573e14d&amp;id=7bb2dc85b6', target='_blank')
          small
            | I campi con * sono obbligatori.

          label(for='mce-FNAME') Nome e cognome*
          input(type='text', id='mce-FNAME', name='FNAME', required)

          label(for='mce-EMAIL') Indirizzo e-mail*
          input(type='email', id='mce-EMAIL', name='EMAIL', required)

          label(for='mce-MMERGE3') Azienda*
          input(type='text', id='mce-MMERGE3', name='MMERGE3', required)

          label(for='mce-MMERGE4') Ruolo*
          input(type='text', id='mce-MMERGE4', name='MMERGE4', required)

          label(for='mce-MMERGE5') Telefono*
          input(type='text', id='mce-MMERGE5', name='MMERGE5', required)

          label(for='mce-MMERGE6') Riferimento CRO bonifico
          input(type='text', id='mce-MMERGE6', name='MMERGE6', required)

          label(for='mce-MMERGE7') Promo Code
          input(type='text', id='mce-MMERGE7', name='MMERGE7')

          label(for='mce-MMERGE8') Intestazione fattura
          textarea(type='text', id='mce-MMERGE8', name='MMERGE8')

          label(for='mce-MMERGE9') Indirizzo e-mail spedizione fattura
          input(type='email', id='mce-MMERGE9', name='MMERGE9')

          label(for='mce-group[3509]-3509-0') 
            input(type='checkbox', id ='mce-group[3509]-3509-0', name='group[3509][1]', required)
            | &nbsp; Autorizzo al trattamento dei miei dati personali*

          label(for='mce-group[3509]-3509-1') 
            input(type='checkbox', id ='mce-group[3509]-3509-1', name='group[3509][2]', required)
            | &nbsp; Autorizzo la ripresa audio-video e la sua diffusione a mezzo web*

          button.pure-button.pure-button-primary(type='submit')
            i.fa.fa-check
            span Invia