ul
  li
    a(href='http://aledonadio20.wordpress.com/2014/10/23/tre-dinamiche-per-la-socialorg/', target='_blank')
      | Social media e processi organizzativi: 3 cose da sapere
    span &nbsp;di Alessandro Donadio  
  li
    a(href='http://robertopezza.com/2014/06/16/car-sharing-2-0-e-linsegnamento-per-il-social-learning/', target='_blank')
      | Car Sharing 2.0 e l'insegnamento per il Social Learning
    span &nbsp;di Roberto Pezza
  li
    a(href='http://aledonadio20.wordpress.com/2014/06/07/byok-un-acronimo-da-social-organization/', target='_blank')
      | BYOK: un acronimo da Social Organization
    span &nbsp;di Alessandro Donadio
  li
    a(href='http://aledonadio20.wordpress.com/2014/03/16/il-knowledge-al-tempo-delle-community/', target='_blank')
      | Il knowledge al tempo delle community
    span &nbsp;di Alessandro Donadio
  li
    a(href='http://aledonadio20.wordpress.com/2014/01/18/il-socialhr-progettista-della-social-organization/', target='_blank')
      | Il SocialHR progettista della social organization
    span &nbsp;di Alessandro Donadio
  li
    a(href='http://wp.me/p14adv-5w', target='_blank')
      | HR 2.0, employer branding e innovazione
    span &nbsp;di Luca Solari
  li
    a(href='http://wp.me/p14adv-4K', target='_blank')
      | Il sensemaking come intervento sull'organizzazione
    span &nbsp;di Luca Solari
  li
    a(href='http://wp.me/p14adv-47', target='_blank')
      | Capire il 2.0
    span &nbsp;di Luca Solari
  li
    a(href='http://wp.me/p14adv-3U', target='_blank')
      | HR 2.0 alcune idee in slide
    span &nbsp;di Luca Solari
  li
    a(href='http://wp.me/p14adv-u', target='_blank')
      | Innovazione sociale, innovazione nella gestione delle risorse umane: il mondo nell'era 2.0
    span &nbsp;di Luca Solari