.row.pure-g
  .pure-u-1.pure-u-md-1-3
    .text.tc
      .padding.border
        .circle.circle-green
          span
            | 9:15 - 9:30
        h2 Accoglienza

.spacer-70

.row.pure-g
  .pure-u-1.pure-u-md-1-3
    .text.tc
      .padding.border.border-yellow
        .spacer-20
        .circle.circle-yellow
          span 9:30 - 11:30
        h2 Tavola rotonda
        h3 Dalla comunità alle community
        .spacer-10
  .pure-u-1.pure-u-md-2-3.valign
    .spacer-20
    .text
      .padding
        h3 Chairman
        ul
          li 
            span Luca Solari  
            | – Hitrea
        .spacer-30
        h3 Relatori
        ul
          li
            span Andrea Attanà 
            | - Linkedin Italia
          li 
            span Marco Vitale 
            | – Fondazione Adriano Olivetti
          li 
            span Elisabetta Caldera 
            | – Vodafone
          //-
            li
              span Nicola Palmarini 
              | – ArepoBp
          li 
            span Paolo Zanenga 
            | – TWG Consulting
          //-
            li 
              span Piermarco Aroldi 
              | – Dir. OssCom
          li
            span Nicoletta Vittadini 
            | – Università Cattolica del Sacro Cuore di Milano

.spacer-70

.row.pure-g
  .pure-u-1.pure-u-md-1-3
    .text.tc
      .padding.border.border-orange
        .spacer-20
        .circle.circle-orange
          span
            | 11:45 - 13:20
        h2 I processi del 
          a(href='http://twitter.com/hashtag/SocialHR?f=realtime', target='_blank') #SocialHR
        .spacer-10
  .pure-u-1.pure-u-md-2-3.valign
    .spacer-20
    .text
      .padding
        h3 Smart Speech Sala 1
        ul
          li 
            | 11:45 - 12:05 
            br
            i Community Enabling 
            span (Alessandro Donadio) 
          li.spacer-10
          li
            | 12:05 - 12:25
            br
            i Digital &amp; Social Environment 
            span (Chiara Colombo) 
          li.spacer-10
          li 
            | 12:25 - 12:40
            br
            i Engagement through communication 
            span (Annalisa Galardi)
          li.spacer-10
          li 
            | 12:40 - 13:00 
            br
            i Community Enabling 
            span (Alessandro Donadio) 
          li.spacer-10
          li
            | 13:00 - 13:20
            br
            i Digital &amp; Social Environment 
            span (Chiara Colombo) 
.spacer-70

.row.pure-g
  .pure-u-1.pure-u-md-1-3
    .text.tc
      .padding.border.border-orange
        .spacer-20
        .circle.circle-orange
          span
            | 11:45 - 13:20
        h2 I processi del 
          a(href='http://twitter.com/hashtag/SocialHR?f=realtime', target='_blank') #SocialHR
        .spacer-10
  .pure-u-1.pure-u-md-2-3.valign
    .spacer-20
    .text
      .padding
        h3 Smart Speech Sala 2
        ul
          li 
            | 11:45 - 12:05
            br
            i Social Recruitment 
            span (Valentina Marini) 
          li.spacer-10
          li
            | 12:05 - 12:25
            br
            i Social Learning 
            span (Roberto Pezza) 
          li.spacer-10
          li 
            | 12:25 - 12:40 
            br
            i Social Recruitment 
            span (Valentina Marini) 
          li.spacer-10
          li
            | 12:40 - 13:00
            br
            i Social Learning 
            span (Roberto Pezza)
          li.spacer-10
          li 
            | 13:00 - 13:20
            br
            i Engagement through communication 
            span (Annalisa Galardi)

.spacer-70

.row.pure-g
  .pure-u-1.pure-u-md-1-3
    .text.tc
      .padding.border
        .circle.circle-green
          span
            | 13:30 - 14:30
        h2 Lunch

.spacer-70

.row.pure-g
  .pure-u-1.pure-u-md-1-3
    .text.tc
      .padding.border.border-azure
        .spacer-20
        .circle.circle-azure
          span
            | 14:30 - 16:30
        h2 Strategia e Governance della 
          a(href='http://twitter.com/hashtag/SocialOrg?f=realtime', target='_blank') #SocialOrg
        .spacer-10
  .pure-u-1.pure-u-md-2-3.valign
    .spacer-20
    .text
      .padding
        h3 Workshop in parallelo
        ul
          li 
            i SALA 1 - La governance del cambiamento
            br
            | Presiede <span>Luca Solari</span>
            br
            | Partecipano <span>Paolo Melis (GRMA)</span>, <span>Roberta Vanetti (Whirlpool EMEA)</span>, <span>Marco Franceschetti</span> (AXA)
          li.spacer-10
          li 
            i SALA 2 - Agile Working
            br
            | Presiede <span>Annalisa Galardi</span>
            br
            | Partecipano <span>Pino Mercuri</span> (Microsoft), <span>Alessandra Stasi</span> (Barilla), <span>Elena Nizzero</span> (Nestlé)
          li.spacer-10
          li 
            i SALA 3 - Le organizzazioni sono community 
            br
            | Presiede <span>Alessandro Donadio</span>
            br
            | Partecipano <span>Simone Tagliacozzo</span> (BNL), <span>Marcello Bugari</span> (GRMA), <span>Luciana De Laurentiis</span> (Fastweb)

.spacer-70

.row.pure-g
  .pure-u-1.pure-u-md-1-3
    .text.tc
      .padding.border
        .circle.circle-green
          span
            | 17:00
        h2 Conclusione