//-
  .single-speaker
    span.pic
      img(src='static/img/relatori/piermarco-aroldi.jpg')
    h2 Piermarco Aroldi
    .text
      :markdown
        Professore Associato presso la Facoltà di Scienze della Formazione di Milano e Piacenza, dove insegna "Sociologia dei processi culturali e comunicativi", "Media e culture dell'infanzia" e "Teorie e tecniche dei nuovi media".  
        Dopo la laurea in Lettere moderne e il Diploma di specializzazione in Scienze della comunicazione ha conseguito il Dottorato di ricerca in Sociologia e metodologia della ricerca sociale; si occupa di sociologia della comunicazione e della cultura, con particolare attenzione all'ambito dei media; i suoi interessi scientifici si collocano nell'area degli studi sull'audience e l'esperienza mediale, soprattutto televisiva e online, sul rapporto media-minori e sulla media literacy. E' membro italiano dei network <a href="http://www.eukidsonline.net" target="_blank">Eu Kids Online</a> e <a href="http://www.netchildrengomobile.eu/" target="_blank">Net Children Go Mobile</a>, e della Cost Action IS096 <a href="http://www.cost-transforming-audiences.eu/" target="_blank">Transforming Audiences, Transforming Societies</a>; fa inoltre parte del Comitato di redazione della rivista Comunicazioni Sociali.  
        Dal 2013 dirige  OssCom, Centro di ricerca sui media e la comunicazione dell'Università Cattolica.

      .spacer-20

.single-speaker
  span.pic
    img(src='static/img/relatori/andrea-attana.jpg')
  h2 Andrea Attanà
  .text
    :markdown
      Andrea Attanà, 42 anni, lavora presso Linkedin Italia (<a href="http://it.linkedin.com/in/attana" target="_blank">http://it.linkedin.com/in/attana</a>).  
      Si è laureato in Lettere Moderne presso l'Università Cattolica di Milano ed ha iniziato la sua esperienza professionale presso aziende altamente tecnologiche quali SAS Institute e SAP AG in qualità di project manager e sales manager. Nel gennaio del 2012 insieme ad altri quattro colleghi apre la filiale italiana del famoso social network professionale ed ricopre attualmente il ruolo di Senior Relationship Manager.  
      Interessi, competenze, passioni e referenze sono (naturalmente) riportate presso il suo profilo Linkedin, come anche un piccolo blog su temi professionali, raggiungibile <a href="https://www.linkedin.com/today/author/303288" target="_blank">qui</a>.

    .spacer-20


.single-speaker
  span.pic
    img(src='static/img/relatori/marcello-bugari.jpg')
  h2 Marcello Bugari
  .text
    :markdown
      Dopo un'esperienza maturata presso un'agenzia assicurativa nella quale si è occupato di sviluppo  del portafoglio clienti, nel 1987 entra nel Gruppo Reale Mutua con un incarico nella Direzione Commerciale.  
      Dal 1996 Bugari si occupa di risorse umane e, dopo aver ricoperto il ruolo di Responsabile della Formazione del Personale, viene nominato nel 2008 Responsabile della Selezione e della Formazione.  
      Dal 2010 è Responsabile di Academy, la Scuola di Formazione del Gruppo Reale Mutua.  
      Collabora inoltre da diversi anni con alcune riviste di settore.

    .spacer-20

.single-speaker
  span.pic
    img(src='static/img/relatori/elisabetta-caldera.jpg')
  h2 Elisabetta Caldera
  .text
    :markdown
      E' Direttore Risorse Umane e Organizzazione di Vodafone Italia e membro del Comitato Esecutivo da aprile 2012. Nel 2004 entra a far parte di Vodafone ricoprendo ruoli di crescente responsabilità. Come HR Manager ha gestito trasversalmente le attività di HR Operations in sette diversi paesi (SEMEA) del Gruppo Vodafone. Successivamente viene nominata Commercial HR Manager con la responsabilità delle divisioni commerciali di Vodafone Italia. Nel 2006 assume il ruolo di Responsabile HR Operations per gestire, oltre alle divisioni commerciali, anche le funzioni Corporate e Staff presenti in Italia. Dal 2009 al 2010 viene chiamata a Londra per guidare le attività HR per il progetto 'Commercial  Capability' del Gruppo Vodafone. Nel marzo 2010, è nominata Responsabile Sviluppo e Organizzazione di Vodafone Italia. Prima di entrare in Vodafone Elisabetta Caldera ha ricoperto incarichi manageriali in Foster Wheeler Italiana e in Alstom Power Italia. E' membro del Consiglio di Amministrazione di Falck Renewables SpA, nonchè Presidente del Comitato Risorse Umane e membro del Comitato Controllo e Rischi. Dal 2014 è entrata a far parte del Consiglio Direttivo di Asstel e della Giunta di Unindustria. Laureata in Lettere presso l'Università di Bologna, ha conseguito nel 2005 il certificato di Professional Counselling, e nel 2011 l'Executive Master in Senior HR Management presso la SDA Bocconi. Dal 2010 è membro di AssoCounseling.

    .spacer-20


.single-speaker
  span.pic
    img(src='static/img/relatori/chiara-colombo.jpg')
  h2 Chiara Colombo
  .text
    :markdown
      PhD in Filosofia, ha lavorato 4 anni come editor di riviste del settore. Dal 2011 si occupa di Social Media Marketing e di Social & Digital Strategy con un focus specifico sull'allineamento della comunicazione interna ed esterna delle organizzazioni attraverso l'implementazione di community collaborative online.  
      E' docente della Facoltà di Scienze di Comunicazione dell'Università di Pavia e del Corso di Alta Formazione UPA "Comunicare l'azienda nell'era digitale".  
      E' Social & Digital Strategist di Hitrea e Social Media Manager di Vita e Pensiero Editore.

    .spacer-20


.single-speaker
  span.pic
    img(src='static/img/relatori/luciana-de-laurentiis.jpg')
  h2 Luciana De Laurentiis
  .text
    :markdown
      Ha iniziato a occuparsi di comunicazione  efficace più di 15 anni fa, nell'ambito della Formazione in Omnitel/Vodafone.  
      Come Coach e Training Manager in FASTWEB ha portato avanti progetti di cultural change, formazione comportamentale e manageriale, con una particolare attenzione all'evoluzione del linguaggio e alla sua influenza nelle relazioni professionali efficaci.  
      Dal 2012 ricopre in FASTWEB il ruolo di Internal Communication Manager, con un focus specifico sulla dimensione partecipativa della comunicazione interna nell'era della digital transformation.  
      Appassionata di scrittura, collabora con la Palestra della Scrittura, scrive di lavoro (non solo) al femminile su <a href="http://www.unadonna.it/" target="_blank">unadonna.it</a> e vive l'esperienza social con i tweet di <a href="http://twitter.com/lucianadelauren" target="_blank">@lucianadelauren</a>.

    .spacer-20


.single-speaker
  span.pic
    img(src='static/img/relatori/alessandro-donadio.jpg')
  h2 Alessandro Donadio
  .text
    :markdown
      Ha iniziato a lavorare in azienda nell'ambito dello sviluppo risorse e formazione per poi passare alla consulenza in ambito HR e sviluppo organizzativo. Ha seguito progetti complessi di performance management system, modelli per competenze, talent management, ecc. Appassionato dell'approccio etnologico, affronta l'azienda con un'occhio attento alle sue "tribù": le community.  
      In questo solco dal 2008 ha approfondito il paradigma della Social Organization: ha quindi fondato e-nable, un hub di consulenti che promuove progetti di social business transformation, con un occhio puntato sulla funzione (Social) HR. Da quest'anno e-nable è confluita in Hitrea di cui è Partner e Social Organization strategist.  
      Web surfer accanito, segue molti blog e vive l'esperienza social su twitter, linkedin, Facebook.  
      Il suo blog <a href="http://aledonadio20.wordpress.com/" target="_blank">Metaloghi organizzativi 2.0</a> è punto di riferimento di divulgazione sul tema della Social Enterprise.

    .spacer-20



.single-speaker
  span.pic
    img(src='static/img/relatori/marco-franceschetti.jpg')
  h2 Marco Franceschetti
  .text
    :markdown
      Responsabile Performance & Reward e Change Management di AXA ONE Italy, guida i piani di trasformazione della Compagnia, i processi di Perfomance Management e Compensation & Benefit, il Talent Management e i Succession Plan. Ha anche responsabilità per i progetti di Diversity & Inclusiveness.  
      In questa fase di evoluzione organizzativa, gioca il proprio ruolo spinto dalla Mission di garantire l'integrazione delle compagnie di AXA in Italia e all'estero (AXA Assicurazioni, AXA MPS, AXA MPS Financial Ireland, AXA Italia Servizi, AXA MedLa Holding) in coerenza con il disegno strategico di farle convergere in un'unica organizzazione, AXA ONE Italy, armonizzando i processi di Performance & Reward , Talent Management e Succession Plan.  
      Una delle principali sfide del suo lavoro è quella di definire ed implementare la visione a lungo termine della strategia HR di compagnia. Ama muoversi in contesti in continuo cambiamento, promuovendo una visione Funzione HR  come attore in grado di dare valore attraverso il contributo nel disegno organizzativo e sviluppo della cultura interna orientata a “sfidare” lo status quo organizzativo e del contesto sociale di riferimento.  
      Sposato, con due figli, podista appassionato, ama la musica e la lettura.

    .spacer-20




.single-speaker
  span.pic
    img(src='static/img/relatori/annalisa-galardi.jpg')
  h2 Annalisa Galardi
  .text
    :markdown
      E' docente di Comunicazione pubblica e d'impresa all'Università Cattolica di Milano. Mamma di tre figli, è Laureata in Lettere Moderne con una tesi in Psicologia Sociale, ha conseguito un PhD in Rappresentazioni e comportamenti politici. Ha da sempre lavorato sia all'interno che all'esterno dell'ambito accademico, privilegiando esperienze professionali caratterizzate dalla tensione all'innovazione e dalla possibilità di contaminazione tra le diverse discipline. Nel 1996, in Opera Multimedia, ha tenuto la sua prima rubrica online; per la stessa casa editrice ha partecipato all'edizione del progetto di U. Eco _Encyclomedia_, la prima enciclopedia multimediale pensata per una fruizione multimediale e alla realizzazione di prodotti per l'e-learning. Ha partecipato all' Innovation Team di Barilla e ha fatto esperienza d'insegnamento internazionale presso l'Université Saint Joseph di Beyrut e L'Università della Svizzera Italiana di Lugano. Attualmente è Responsabile della Comunicazione di GSO Company, Membro del Comitato Scientifico della Fondazione Adriano Olivetti e da quest'anno Employee and Communication Strategist e partner di Hitrea.

    .spacer-20


.single-speaker
  span.pic
    img(src='static/img/relatori/valentina-marini.jpg')
  h2 Valentina Marini
  .text
    :markdown
      E' consulente HR presso GSO Company e cultore della materia in “Pedagogia delle Risorse Umane e delle Organizzazioni” presso la Facoltà di Scienze della Formazione all'Università di Roma Tre, dove ha conseguito la laurea in Scienze dell'Educazione degli Adulti e Formazione Continua.  
      Ha lavorato presso il Consorzio ELIS di Roma seguendo la progettazione, il coordinamento e la realizzazione di “HR Academy”, un Master interaziendale, realizzato in parte in Inghilterra, per giovani neolaureati interessati ad operare nell'area delle Risorse Umane.  
      Appassionata di Social & Media Recruitment, svolge attività di ricerca, con particolare attenzione all'impatto degli strumenti 2.0  sul mondo HR.

    .spacer-20


.single-speaker
  span.pic
    img(src='static/img/relatori/paolo-melis.jpg')
  h2 Paolo Melis
  .text
    :markdown
      Inizia la propria carriera in ambito ICT occupandosi dapprima di progetti di sviluppo di piattaforme CRM per approdare nel 2007 al Gruppo Reale Mutua in qualità di Account Informatico di Piemontese Assicurazioni. Dal 2011 è responsabile dell'Organizzazione di Gruppo; nel primo semestre ha coordinato il progetto di redazione della Social Media Policy, primo pilastro per future evoluzioni del Gruppo verso un possibile modello di social organization.

    .spacer-20


.single-speaker
  span.pic
    img(src='static/img/relatori/pino-mercuri.jpg')
  h2 Pino Mercuri
  .text
    :markdown
      Direttore delle Risorse Umane di Microsoft Italia, ha la responsabilità del recruiting, della gestione e della valorizzazione delle risorse umane per la filiale di italiana. Avrà il compito di rafforzare ulteriormente la diffusione del “New World of Work”: un sistema di obiettivi chiaro a cui viene associato uno strutturato sistema premiante, percorsi di crescita e sviluppo in azienda, politiche di valorizzazione dei talenti, un sistema di welfare volto a massimizzare il potenziale di ognuno e un contesto lavorativo informale e dinamico, dove la migliore tecnologia consente alle persone di conciliare vita privata e professionale con la massima flessibilità.  
      Pino Mercuri raggiunge la filiale italiana di Microsoft, premiata lo scorso anno come “Best Place to Work” confermando infatti la validità della scelta operata dall'azienda di fornire una nuova organizzazione del lavoro, più flessibile e attenta alle esigenze e alle responsabilità dei singoli, lasciando agli oltre 900 dipendenti in Italia la possibilità di lavorare dovunque si trovino con tempi che favoriscono la conciliazione tra impegni professionali e vita privata.  
      Sposato con tre figli, ama viaggiare, adora il cinema, la buona cucina ed ha una passione per le nuove tecnologie, pratica diversi sport tra cui calcio e running.

    .spacer-20


.single-speaker
  span.pic
    img(src='static/img/relatori/elena-nizzero.jpg')
  h2 Elena Nizzero
  .text
    :markdown
      E' responsabile della funzione Recruiting, Learning and Development per il gruppo Nestlè in Italia. Ha conseguito una laurea in Economia e Commercio, con specializzazione in Organizzazione del lavoro, presso l'Università Luigi Bocconi di Milano e una in Scienze e Tecniche Psicologiche presso l'Università Bicocca. Prima di Nestlè, ha lavorato, sempre nella funzione Risorse Umane, per alcune aziende multinazionali americane.


.single-speaker
  span.pic
    img(src='static/img/relatori/roberto-pezza.jpg')
  h2 Roberto Pezza
  .text
    :markdown
      Dal Training & Development in un Gruppo multinazionale italiano, approda immediatamente alla consulenza HR. Trainer, Assessor e consulente per i Sistemi HR e l'Organizzazione, unisce competenze di organizzazione, di people development e IT per mettere a disposizione dei Clienti soluzioni multidisciplinari. Ha accompagnato organizzazioni in diversi business nella progettazione e implementazione di sistemi di sviluppo, performance management e talent management. Da oltre 10 anni ha esperienza nel software design per tool di Skills Evaluation, eLearning e Sistemi HR. Partner GSO e Partner hitrea, realizza progetti di trasformazione verso la Social Organization, con particolare focus nell'ambito e Social HR, Social Performance&Talent Management e Social Learning. Eclettico e innovativo, interessato soprattutto a cosa si può fare con le nuove tecnologie, ha trasformato il suo modo di essere professionista HR attraverso Internet e i Social professionali. Da quest'anno presente con il suo blog <a href="http://www.robertopezza.com" target="_blank">robertopezza.com</a>.

    .spacer-20



.single-speaker
  span.pic
    img(src='static/img/relatori/luca-solari.jpg')
  h2 Luca Solari
  .text
    :markdown
      E' professore ordinario di Organizzazione e Gestione delle Risorse Umane all'Università degli Studi di Milano e docente del MBA del MIP-Politecnico. Ha conseguito il dottorato di ricerca in economia aziendale presso l'Università Luigi Bocconi di Milano. Ha un'esperienza significativa nella progettazione ed erogazione di programmi di cambiamento per Executive, con attività di coaching, formazione e consulenza basata sulla ricerca. Riveste oggi il ruolo di Corporate Sensemaker, Blogger e Social Media experimenter interessato al futuro delle organizzazioni.  
      Nel 2013 è stato il primo e unico italiano a essere invitato come Keynote speaker alla Global Conference di HRPS a Denver, Colorado. È Academic in Residence per Executive Network. All'Academy of Management Conference di Philadelphia dell'agosto del 2014 un suo paper riceverà il Best Paper Award della HR Division.

    .spacer-20


.single-speaker
  span.pic
    img(src='static/img/relatori/alessandra-stasi.jpg')
  h2 Alessandra Stasi
  .text
    :markdown
      E' Organization & People Director del Gruppo Barilla coordinando a livello globale l'area Organizzazione, Selezione, Talent Management, Training & Development. Ha conseguito la laurea in Economia aziendale all'Università Luigi Bocconi di Milano. Dopo brevi esperienze lavorative, è entrata a far parte del Gruppo Barilla nel 1997 nell'area Organizzazione. La sua esperienza si è sviluppata sia nelle aree specialistiche Corporate HR che nelle aree più generalistiche come HR Manager essendo stata responsabile HR di diverse aree aziendali anche all'estero nei paesi Nordici.

    .spacer-20


.single-speaker
  span.pic
    img(src='static/img/relatori/simone-tagliacozzo.jpg')
  h2 Simone Tagliacozzo
  .text
    :markdown
      Ingegnere gestionale di una generazione non ancora nativa digitale ma che già chiamano Y: l'anello di congiunzione tra il GameBoy, Napster e Uber. Appassionato di tecnologia applicata al mondo della comunicazione e di paradigmi umani applicati alle innovazioni tecnologiche. Da due anni in una banca storica come BNL e in Gruppo moderno e globale come BNP Paribas. In comunicazione interna con particolare attenzione alle dinamiche collaborative, quando la comunicazione si fa meno megafono e sempre più infrastruttura abilitante, e inevitabilmente business oriented. Chi è cresciuto con Google, Wikipedia e Pinterest testimonia che spesso la vera competenza non è quello che sai, ma come sai cercare ed apprendere quello che ti serve.  
      E una cultura così in azienda è esplosiva, cambia i paradigmi e ci rende tutti trasversali e liquidi.


    .spacer-20


.single-speaker
  span.pic
    img(src='static/img/relatori/marco-vitale.jpg')
  h2 Marco Vitale
  .text
    :markdown
      Economista d'impresa, ha svolto intensa attività professionale e didattica presso le Università di Pavia, Bocconi, Libera Università Carlo Cattaneo e presso le scuole di management Istao e Istud. Già socio Arthur Andersen è socio fondatore e presidente della Vitale Novello & Co. S.r.l. nell'ambito della quale è consulente e amministratore di importanti società.  
      E' stato presidente di A.I.F.I., associazione nazionale delle merchant bank e cofondatore e primo presidente del gruppo Arca, vicepresidente della Banca Popolare di Milano e presidente di Bipiemme Gestioni SGR fino al 2008. E' presidente della Rino Snaidero Scientific Foundation; proboviro di AIdAF (Associazione Italiana delle Aziende Familiari); membro del comitato direttivo della Fondazione Adriano Olivetti; membro del consiglio della Fondazione FAI (Fondo per l'Ambiente Italiano), già presidente del Fondo Italiano d'Investimento nelle Piccole e Medie Imprese.  
      Ha rivestito significativi incarichi pubblici ed è autore di numerosi libri Passaggio al futuro. Oltre la crisi, attraverso la crisi (Egea 2010); Corruzione (ESD Edizioni 2010); Responsabilità nell'impresa (Piccola Biblioteca d'Impresa Inaz, 2010); Longevità (ESD Edizioni, 2011); Spiritualità nell'Impresa (Piccola Biblioteca d'Impresa, Inaz, 2011). Il suo sito è <a href="http://www.marcovitale.it" target="_blank">www.marcovitale.it</a>.

    .spacer-20


.single-speaker
  span.pic
    img(src='static/img/relatori/roberta-vanetti.jpg')
  h2 Roberta Vanetti
  .text
    :markdown
      Comincia la sua carriera come interprete. Nel 1990 entra a far parte di Whirlpool ricoprendo diversi ruoli internazionali.   
      Parte dalle ricerche di mercato come analista per poi diventare responsabile della digitalizzazione della vastissima “knowledge base” di Customer insights per il marketing e responsabile di tutte le attività di “cultural change” di formazione e comunicazione legate al progetto. Diventa poi parte del team globale per Employee Intranet Portal e nel 2000 ricopre la posizione globale di Knowledge Management Mgr. rappresentando EMEA. Lavora in US e in Brasile.  
      Nel 2005 ricopre la posizione di Talent Management and Organizational Development Mgr. Partecipando alla creazione di una strategia e-learning e alla nascita di Whirlpool University. E' tutt'ora membro del Corporate University Council.  
      Diventa Innovation Mgr. nel 2008 per consolidare le competenze di  "innovatrice" e nel 2010 diventa Manager Interactive Communication. Dal 2013 ricopre il ruolo di Social Media Lead nell'ambito delle Corporate Communications con un focus specifico sull'allineamento della comunicazione interna, esterna e di brand. 

    .spacer-20



.single-speaker
  span.pic
    img(src='static/img/relatori/nicoletta-vittadini.jpg')
  h2 Nicoletta Vittadini
  .text
    :markdown
      Professore Associato di Sociologia dei processi culturali e comunicativi presso l'Università Cattolica del Sacro Cuore di Milano. E' docente di Sociologia della comunicazione e Web e Social Media presso la Facoltà di Scienze linguistiche e letterature straniere.  
      E' membro della Direzione dell'Alta Scuola in Media Comunicazione e Spettacolo (<a href="http://www.unicatt.it/almed" target="_blank">ALMED</a>) dove è anche direttore del <a href="http://almed.unicatt.it/almed-digital-communications-specialist-scheda-di-presentazione" target="_blank">Master in Digital Communications Specialist</a>.  
      Svolge la sua attività di ricerca, oltre che presso l'<a href="http://www3.unicatt.it/pls/unicatt/consultazione.mostra_pagina?id_pagina=1560">OssCom</a> (Centro di ricerca sui Media e la Comunicazione). E' coinvolta in diversi progetti nazionali internazionali. Tra i più recenti la Cost Action europea “Transforming Audiences, Transforming Societies” nell'ambito della quale è stata chair del working group Media and Generations e il Progetto di Ricerca di Interesse Nazionale “Relazioni sociali ed identità in Rete: vissuti e narrazioni degli italiani nei siti di social network” nell'ambito del quale ha seguito la ricerca sullo sharing nei social network. Nell'ambito delle attività di OssCom è coordinatore scientifico della ricerca “Brands&Social Media”.

    .spacer-20


.single-speaker
  span.pic
    img(src='static/img/relatori/paolo-zanenga.jpg')
  h2 Paolo Zanenga
  .text
    :markdown
      Ingegnere, ha svolto attività di ricerca negli Stati Uniti, in Francia e in Italia nel campo della strategia e dell'organizzazione.Tiene un corso sulla complessità delle reti della conoscenza presso la Scuola di Dottorato del Politecnico di Torino, è docente presso Polidesign e Domus Academy, visiting speaker in Copenhagen Business School, SDA Bocconi, Parsons New School di NewYork e in altre accademie italiane e internazionali.  
      Lavora su nuovi modelli dell'innovazione e dell'impresa, anche avvalendosi di reti internazionali di accademie e aziende. Fin dall'inizio della sua attività, si è dedicato a temi di frontiera riguardanti il rapporto tra tecnologie e organizzazioni. Nel 2010 la pubblicazione de "Le Reti di Diotima – Società della conoscenza ed economia della bellezza" per Carocci, porta alla fondazione della Diotima Society, associazione culturale internazionale che promuove, organizza, e sperimenta reti di conoscenza locali e globali, in modo da favorire superiori livelli di collaborazione tra imprese, istituzioni, comunità e singole persone. Fondatore di TWG Consulting, ha seguito importanti progetti di trasformazione e sviluppo (Finmeccanica, Ciba, Nestlè, Pfizer, GE, Telecom Italia,Governo Russo).  
      E' CEO di Natam; membro dei “conclavi” di Dream:in; Presidente di PDMA per il Sud Europa; Membro della commissione Ricerca e Innovazione di Confindustria; Membro della rete internazionale Value Creation Group (Business Process Management).

    .spacer-20