.c-clock
  width 400px
  height 400px
  overflow hidden
  margin 0 auto
  position relative
  transition opacity 2s ease 1s !important
  opacity 0
  &.show
    opacity 1

.c-layout
  width 100%
  height 100%
  position absolute
  top 0
  left 0
  transition all 1s

.c-layout.c-metric
  background url('../img/clock/metrics.svg')
  background-repeat no-repeat
  background-size 100% 100%

/* MINUTES */
.c-layout.c-minute
  background url('../img/clock/minutes.svg')
  background-repeat no-repeat
  background-size 100% 100%

/* SECONDS */
.c-layout.c-second
  background url('../img/clock/seconds.svg')
  background-repeat no-repeat
  background-size 100% 100%  

/* HOURS */
.c-hour
  top 65%
  margin-top 0
  text-align center
  height auto

.c-hour .number
  @extends .montserrat
  font-size 32px

/* DAYS */
.c-hour .metric
  @extends .montserrat
  font-size 16px
  margin-top -6px
  text-transform uppercase
  display block

.c-day
  text-align center
  height auto

.c-day .number
  @extends .montserrat
  font-size 120px
  display block

.c-day .metric
  @extends .montserrat
  font-size 24px
  letter-spacing 1px
  padding-left 2px
  text-transform uppercase
  margin-top -20px
  margin-bottom 10px
  display block

.clock-layout .clock-zero
  top 50%
  left 0
  position absolute
  width 100%
  height 100%
  margin-top -20px
  text-align center
  @extends .montserrat
  text-transform capitalize



//  - PANDA
.c-fixed
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

@media screen and (max-width: 48em)
  .c-clock
    width 250px
    height 250px
    margin-bottom 50px
    .c-day .number
      font-size 60px
      margin-bottom 3px