//  - nib folder is located in static/css/
@import('nib');

//  - load webfonts from Google
@import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('//fonts.googleapis.com/css?family=Montserrat:400,700');

//  - font style
.open-sans
  font-family 'Open Sans', sans-serif
.montserrat
  font-family 'Montserrat', sans-serif


//  - colors and other vars
_black = #000
_white = #fff
_green = #29b473
_yellowH = #fdc14f
_orangeH = #f67036
_greenH = #32b650
_azureH = #79d8d9

_padding = 40px


//  - reset purecss fonts
.pure-g [class *='pure-u'],
.pure-g-r [class*="pure-u"]
  @extends .open-sans
.pure-form
  input[type='text'], input[type='password'], input[type='email'], input[type='url'], input[type='date'], input[type='month'], input[type='time'], input[type='datetime'], input[type='datetime-local'], input[type='week'], input[type='number'], input[type='search'], input[type='tel'], input[type='color'], select, textarea
    @extends .open-sans
  button
    @extends .open-sans
button
  @extends .open-sans


//  - some useful classes
.tl
  text-align left
.tc
  text-align center
.tr
  text-align right
for _val in (1..15)
  .spacer-{_val * 10}
    height (_val * 10px)
.pl
  padding-left _padding
.pr
  padding-right _padding


h1,
h2,
h3,
h4,
h5,
h6
  @extends .montserrat
  margin 0
  line-height 100%


//  - main style
html,
body
  height 100%
  @extends .open-sans

body
  background url('../img/picts/sod_.jpg') center no-repeat fixed
  background-size cover
  font-weight 400
  color _white
  -webkit-font-smoothing antialiased
  -webkit-overflow-scrolling touch

  .gradient
    position fixed
    z-index 1
    width 100%
    height 100%
    background rgba(_black, 0.45)

  .container
    position relative
    z-index 2
    width 1280px
    margin auto

  .transition
    transition opacity 2s ease
  .transition2
    transition opacity 2s ease 0.5s

  .fadeIn
    opacity 0
    &.show
      opacity 1

  .share-container
    & > p
      display inline-block
      vertical-align middle
      font-weight 600
      text-transform uppercase
      margin 0 20px 0 0
    .addthis_sharing_toolbox
      display inline-block
      vertical-align middle
      width 220px

  #menu
    position fixed
    top 10px
    left 10px
    z-index 3
    ul
      margin 0
      padding 0
      li
        list-style-type none
        margin-bottom 20px
        cursor pointer
        overflow hidden
        position relative
        &:last-child
          margin-bottom 0px
        i,
        span
          display inline-block
          vertical-align middle
        i
          font-size 24px
          color _green
        span
          transition margin-left 1s ease
          margin-left -500px
          padding 2px 5px
          background rgba(_black, 0.5)
          border-radius 5px
          font-size 12px
          @extends .montserrat
        &:hover
          span
            margin-left 10px
            transition margin-left 1s ease

  #main
    position relative
    z-index 4
    h5
      &#hashtags
        font-weight 300
        @extends .montserrat
        margin-bottom 50px
        .twitter-icon
          font-size 24px
          display inline-block
          margin-right 10px
          font-weight normal
        a
          color _white
          text-decoration none
          transition color 0.5s
        span
          display inline-block
          font-size 18px
          line-height 28px
          margin-right 10px
          &:hover
            a
              color lighten(_green, 40%)
    img
      &#logo
        width (625px / 1.5)
        //-height (106px / 1.5)
        height auto
        border-bottom 2px solid rgba(_white, 0.20)
        padding-bottom 20px
        margin-bottom 20px
    h2
      text-transform uppercase
      font-weight 700
      font-size 32px
    .subscribe
      clearfix()
    p
      &.when
        @extends .montserrat
        font-weight 400
        font-size 15px
        span
          &.uppercase
            text-transform uppercase
        small
          font-weight 400

    .abstract
      //-width 340px
      //-max-width 100%
      font-size 20px

  footer,
  .partners-fix
    clearfix()
    h5
      font-weight 400
      margin-bottom 20px
      opacity 0.5
      span
        border-bottom 2px solid rgba(_white, 0.20)
    .partners-container
      clearfix()
      .partners
        display inline-block
        vertical-align top
        img
          &.partner
            width auto
            height (156px / 2.5)
            margin-right 30px
        &.panda
          float right
          img
            margin-right 0px
            width auto
            height 15px
            opacity 0.1
    small
      display block
      margin 0
      font-size 11px
      opacity 0.75
      b
        font-weight 600
      &.fix
        margin-top -10px

  .partners-fix
    width 400
    margin auto
    .partners
      img
        vertical-align middle!important
        display inline-block!important
        height (156px / 2)!important
        &.partner.no-margin
          margin-right 0
        &.partner-bigger
          width auto
          height (156px / 1.75)!important

  .partners
    clearfix()
    .fix-box
      float left
      margin-right 10px



  #countdown
    transition opacity 1s ease 0.5s !important
    opacity 0
    &.show
      opacity 1
    h4
      @extends .montserrat
      font-size 24px
    & > span
      font-size 32px
      @extends .open-sans
      font-weight 300




  #programma
    h1
      @extends .montserrat
      margin-bottom 10px
      border-bottom 2px solid rgba(_white, 0.5)
      display inline-block
      padding-bottom 2px
    #agenda
      .row
        .border
          border-right 5px solid rgba(_white, 0)
          margin-right 20px
          &.border-yellow
            border-color rgba(_yellowH, 0.75)
          &.border-orange
            border-color rgba(_orangeH, 0.75)
          &.border-green
            border-color rgba(_greenH, 0.75)
          &.border-azure
            border-color rgba(_azureH, 0.75)
        .text
          h2,
          h3,
          h4,
          p,
          ul
            margin 0
            padding 0
          p,
          ul li
            font-size 15px
          ul
            li
              list-style-type none

  #relatori
    #speakers-thumbs
      _picSize = 100px
      span.pic
        display inline-block
        width _picSize
        height _picSize
        border-radius (_picSize / 2)
        overflow hidden
        margin 0 10px 10px 0
        cursor pointer
        img
          transition opacity 0.5s ease
          opacity 0.5
          width 100%
          height auto
          border-radius 50%
        &.active
          img
            opacity 1
      
    #speakers-bios
      .swipe
        overflow hidden
        visibility hidden
        position relative
        .swipe-wrap
          overflow hidden
          position relative
          & > div
            float left
            width 100%
            position relative
        


//  - for media queries see http://purecss.io/grids/ @ Default Media Queries

@media screen and (max-width: 1300px)
  body
    .container
      width 960px

@media screen and (max-width: 48em)
  _padding = 10px
  .pl
    padding-left _padding
  .pr
    padding-right _padding
  body
    .share-container
      width 100%!important
      margin 0 auto 50px auto
    .container
      width auto
      max-width 100%
      & > .spacer-60
        height 20px
    header
      position relative
      .spacer-100
        height 0px
    #main
      text-align center
      .abstract
        margin auto
      .spacer-100,
      .spacer-60
        height 30px
      h5
        &#hashtags
          text-align center
          margin-bottom 10px
          span
            line-height 20px
            margin-right 5px
            font-size 16px
            &:last-child
              margin-right 0
            transition color 0.5s
            &:hover
              color _green
      img
        &#logo
          max-width 100%!important
          height auto!important
      .subscribe
        text-align center
        .subscribe-btn
          width 100%
          display block
          margin 0 auto
    footer,
    .partners-fix
      .partners-container
        text-align center!important
        .partners
          margin-bottom 20px
          display block
          .tl,
          .tr
            text-align center
            img
              margin 0
          &.panda
            float none
            img
              opacity 0.2
              height 15px

    .partners-fix
      .partners
        .tr
          text-align center!important
        img
          display block!important
          margin 0 auto!important
          &:last-child
            margin-bottom 20px!important

    .partners
      clearfix()
      .fix-box
        float none!important
        &:first-child
          margin-bottom 10px
      .tc
        img.partner
          margin 0!important


//  - import other styles
@import('form')